<nav class="navbar navbar-expand-md ">
    <div class="container-fluid d-flex ">
        <span class="navbar-brand text-danger nav-item" routerLink="/">Navbar</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto gap-4 mb-2 mb-lg-0"> 
                <li class="nav-item text-danger fs-5" routerLink="home">Home
                </li>
                <li class="nav-item text-danger fs-5"> About Us
                </li>
                <li class="nav-item text-danger fs-5">Contact Us
                </li>
                <li class="nav-item text-danger fs-5" routerLink="art">Art
                </li>
            </ul>
            <div>
                <button routerLink="login" class="btn btn-danger rounded-pill me-2" type="button">Login</button>
                <button routerLink="sign-up" class="btn btn-danger rounded-pill" type="button">Sign up</button>
            </div>
        </div>
    </div>
</nav>